<% include ../partials/header %>

<div class="container">
	<header class="jumbotron">
		<h1><span id="icon" class="glyphicon glyphicon-tent" aria-hidden="true" style="position: relative;top: 7;"></span> Welcome To YelpCamp!</h1>
		<p>View Our Handpicked Camping Locations All Over The World!</p>
		<p>
		    <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add A New Campground!</a>
		</p>
	</header>
	
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(camp) { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail" style="height:98%">
                <img src=" <%= camp.image %> ">
                <div class="caption">
                    <h4 class=""> <%= camp.name %> </h4>
                </div>
                <div>
                    <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div> 
        </div>
        <% }); %>
	</div>
</div>

<% include ../partials/footer %>