<% include ../partials/header %>

<div class="container">
	<header class="jumbotron">
		<h1><span id="icon" class="glyphicon glyphicon-tent" aria-hidden="true" style="position: relative;top: 7;"></span> Welcome To YelpCamp!</h1>
		<p>View Our Handpicked Camping Locations All Over The World!</p>
		<p>
		    <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add A New Campground!</a>
<<<<<<< HEAD
        </p>
        <!-- <form class="form-inline my-2 my-lg-0" action="" method="POST">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Campground" aria-label="Search">
            <button class="btn btn-success btn-sm my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </header>
=======
		</p>
	</header>
>>>>>>> parent of dad64c0... add timestamp to comments
	
	<div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(camp) { %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail" style="height:98%">
                <img src=" <%= camp.image %> ">
                <div class="caption">
                    <h4 class=""> <%= camp.name %> </h4>
                </div>
                <div>
                    <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div> 
        </div>
        <% }); %>
	</div>
</div>

<% include ../partials/footer %>